# Tex compilation
*.dvi
*.aux
*.log
*.synctex.gz
*.fdb_latexmk
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.fls
*.lof
*.toc
*.out

# Careful with this one
*.pdf
!img/*.pdf
!originality-statement.pdf
*converted-to.pdf

# Mac and Dropbox stuff
.DS_Store
.dropbox
Icon?
*-blx.bib
*.run.xml
*.bcf
